QWidget {
    background: #191919;
}

QLabel {
    color: #eeeeee;
}

QMenuBar {
    background: #333333;
    color: #eeeeee;
}

QMenu {
    background: #303030;
    color: #eeeeee;
}
QMenu::separator {
    color: #eeeeee;
}

QMenuBar::item:selected {
    background: #464646;
}

QPushButton {
    background: #464646; 
    color: #eeeeee;
    border-color: #464646;
}
QPushButton::checked {
    background: #00bd0d; 
    color: #eeeeee;
    border-color: #00bd0d;
}
QPushButton[fileNotPlayable="true"] {
    background:#333333; 
    color: #7f7f7f;
} 


QLineEdit {
    background: #464646;
    color: #eeeeee;
    border-color: #303030;
}

QDoubleSpinBox {
    background: #464646;
    color: #eeeeee;
    border-color: #303030;
}